.btn-green {
	background-color: #99154E;
	padding: 10px 15px;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-family: 'Pangolin', sans-serif;
}

.btn-azul {
	background-color: #99154E;
	padding: 10px 15px;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-family: 'Pangolin', sans-serif;
}